/* 
 * ================================
 *				Base 
 * ================================ 
 */

@import "constants/constant"; 
@import "media/media";
@import "star-rating/star";

/**********************
        MIXINS START
***********************/

.Flexbox(@boxWidth:@defaultboxWidth) {
	width : @boxWidth;
	height: @boxWidth * 1.5;  
	border: 2px solid @borderColor;
	margin : @boxWidth * 0.10;
	font-size: 2em;
	text-align: center;
}


.Flex(){
  -ms-box-orient: horizontal; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;  
  justify-content: center;
  -webkit-justify-content: center;  
}

.FlexImage(@imgWidth:@defaultboxWidth){
	width : @imgWidth;
	height: auto;  
}
/**********************
        MIXINS END
***********************/

html, body {
    height:100%;	
}

.flex-container {
  list-style: none;
  height: 100%;
  margin : 2%; 
  border: 2px solid @borderColor;
  overflow-y: auto;
  font-color: @defaultThemeColor;
  text-shadow: 0px 1px 0 #a2a2a2;
  .Flex();
  
  
}

.product { 
	  @media @iphon5 {  .Flexbox(200px);   }
	  @media @galaxy {  .Flexbox(230px);   }
	  @media @iphon6 {  .Flexbox(230px);   }
	  @media @nexus {  .Flexbox(240px);   }
	  @media @interm {  .Flexbox(250px);   }
	  @media @ipad {  .Flexbox(250px);   }
	  @media @large {  .Flexbox(250px);   }
}


.product .product-img{
      @media @iphon5 {  .FlexImage(90px);   }
	  @media @galaxy {  .FlexImage(90px);   }
	  @media @iphon6 {  .FlexImage(90px);   }
	  @media @nexus {  .FlexImage(100px);   }
	  @media @interm {  .FlexImage(100px);   }
	  @media @ipad {  .FlexImage(100px);   }
	  @media @large {  .FlexImage(100px);   }
}

.product-desc {
	font-size: 15px;
    margin: 5px;
	//text-shadow: 0px 1px 0 #a2a2a2;
}

.product-star{
	text-align: left;
	font-size: 10px;
	margin: 10px;
    padding-bottom: 10px;
	border-bottom: 2px solid @borderColor;	
}


.product-varients{
	margin: 10px;
	font-size: 10px;
}


.product-emi{
	font-size: 12px;
	padding-bottom: 3px;
	margin: 10px;
	text-shadow: 0 0 0;
	border-bottom: 2px solid @borderColor;	
}

.product-price{
	font-size: 15px;
    font-weight: bold;
    text-shadow: 0 0 0;
    line-height: 20px;
}

.filter-option{
	margin :10px;
	font-size: 15px;
	font-color: #ccc;
	text-shadow: 0px 1px 0 #a2a2a2;	
}

input[type=search] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/less/icons/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=search]:focus {
    width: 100%;
}


/******************************************
        Radio filter Option 
*******************************************/

input[type="radio"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
                0 0 0 1px hsla(0,0%,0%,.6),
                0 2px 3px hsla(0,0%,0%,.6),
                0 4px 3px hsla(0,0%,0%,.4),
                0 6px 6px hsla(0,0%,0%,.2),
                0 10px 6px hsla(0,0%,0%,.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    background-color: #444;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}

input[type="radio"]:checked:after {
    background-color: #f66;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(0,70%,70%,.4);
}